#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
ion-content {
  /* O 'background' ou 'linear-gradient' deve ir direto na variável --background */
  --background: linear-gradient(to bottom, #7B47E7 0%, #A27CFA 20%, #E6D9FF 50%)
}